html
    background-color rgb(118, 134, 173)

body
    background-color rgba(255,255,255,255)
    font-family Arial
    padding 2rem
    box-shadow black 0 0 1rem 0
    margin 0.5rem
    word-break break-word

@media (min-width 45rem)
    body
        margin 1rem auto
        max-width 40rem

h1
    margin: 0

